# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
1.5.25.9.zip
1.16.26.zip
1.25.25.3.zip
dist1.5.25.2.zip
dist1.5.25.4.zip
dist1.5.25.5.zip
dist1.5.25.6.zip
dist1.5.25.7.zip
dist1.5.25.8.zip
dist1.5.25.zip
dist4.6.26.zip
dist4.8.2026.zip
dist4.22.zip
distgiftgenie.zip